
body > ul > li { font-family: Impact; font-size: 14px; }
 
body > a {
  text-decoration:none;
  color:black;
}
 
ul {
    margin-bottom: 1em;
    padding: 0;
}
 
body > ul > li > a:first-child {
    margin-right: 10px;
    padding-right: 0px;
    background: #ff0000;
    color: rgba(0, 255, 0, 255);
    border: #f8f8f8;
    margin-left: -28px;
    margin-top: -14px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 5px 10px #263238;
    clip: rect(0px, 14px, 30px, -10px);
    position: absolute;
}
 
body > ul > li > a:first-child:hover {
    background: #01579B;
    color: #01579B;
}
 
body > ul > li {
    list-style-type: none;
    margin-top: 10pt;
    padding: 1em;
    background-color: #f8f8f8;
}
 
body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 750px;
    background: #00ff00;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
 
}
 
ul * ul > li { list-style-type: disc; }
ul ul > li { list-style-type: square; }
 
blockquote, p[u]{
    margin-left: 1em;
    background: #CFD8DC;
    padding: 5px;
    box-shadow: inset 0px 0px 5px 0px #263238;
    margin-right: 1em;
}

blockquote > p[u]{
  background-color: inherit;
  box-shadow: none;
}
 
blockquote > ol > li{
    background-color: inherit;
    box-shadow: none;
    border-style: none;
}

ol {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  margin-left: 1em;
  margin-right: 1em;
  background: #FFF8E1;
  box-shadow: inset 0px 0px 5px 0px #263238;
}

ol >li{
  border-style: none !important;
  box-shadow: none;
  background: inherit;
}
 
li{
    border-style: solid;
    border-radius: 0px;
    border-width: 0px;
    border-bottom-width: 2px;
    box-shadow: 0px 5px 10px #263238;
    background: #ECEFF1;
    border-color: #ECEFF1;
}
 
/* colored boxes */
h2, h3{
    background: #01579B;
    border-color: rgba(255,255,255,0.34);
    color: white;
    border-style: solid;
    border-radius: 0px;
    border-width: 0px;
    border-bottom-width: 2px;
    box-shadow: 0px 5px 10px #263238;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}
 
h2 > a{
    color: white !important;
}
 
pre {
    margin-left: 0;
    margin-right: 0;
    border-left: 2px dotted black;
    background-color: #f0f0ff;
    font-family: Impact;
    padding: 0.5em;
}
 
h3 { 
    /*font-family: Impact;*/
    margin-left: 0;
    margin-right: 0;
    margin-top: 3em;
}   
 
h2 { font-family: Impact; text-align: center; font-size: 200%; }
 
a{ color: #37474F;}
 
p[u] { background-color: #FFCCBC; }
